@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter.ttf') format('truetype'),
		url('../fonts/Inter.woff2') format('woff2'),
		url('../fonts/Inter.woff') format('woff');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}
:root {
	--white: 255,255,255;
	--black: 0,0,0;

	--primary: 30,30,47; 
	--primary-hover: 18,18,34;

	--body-bg: 249,249,249;
	--body-color: 33,33,33;

	--link: 40,40,80;
	--link-hover: 60,60,100;

	--danger-color: 42,0,0;
	--danger-bg: 255,124,124;

	--secondary-color: 34,34,34;
	--secondary-bg: 230,230,230;

	--success-color: 0,43,0;
	--success-bg: 124,255,180;

	/* Redes sociales */
	--discord: 88,101,242;
	--github: 11,11,11;
	--linkedin: 0,123,182;
	--twitter: 0,0,0;

	--fuente: system-ui, -apple-system, "Segoe UI", "Inter", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--mode-change: url('../images/icons/moon.svg') no-repeat center / cover;
}

[data-theme="dark"] {
	--link: 140,140,180;
	--link-hover: 160,160,200;

	--body-bg: 33,33,33;
	--body-color: 249,249,249;

	--danger-bg: 42,0,0;
	--danger-color: 255,124,124;

	--secondary-bg: 34,34,34;
	--secondary-color: 230,230,230;

	--success-bg: 0,43,0;
	--success-color: 124,255,180;
	--github: 110,110,100;
	--twitter: 255,255,255;
}

*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: transparent;
	border: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	scroll-behavior: smooth;
}
:host { 
	display: inline-block;
	min-width: 1rem; 
	min-height: 1rem; 
}
@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}
html, body {
	width: 100%;
	min-height: 100dvh;
	max-height: 100%;
}

body {
	font: normal normal 400 1rem/1.5rem var(--fuente);
	color: rgb(var(--body-color));
	background: rgb(var(--body-bg));
}

svg { 
	width: 100%; 
	height: 100%; 
	fill: currentColor;
}

a {
	color: rgb(var(--link));
	text-decoration: none;
	&, &:hover, &:visited {
		color: rgb(var(--link-hover));
	}
}

.flex{display: flex;}
.block{display: block;}
.none{display: none;}
.grid{display: grid;}

.content-start{justify-content: flex-start;}
.content-end{justify-content: flex-end;}
.content-center{justify-content: center;}
.items-start{align-items: flex-start;}
.items-end{align-items: flex-end;}
.items-center{align-items: center;}
.column-gap-8{column-gap: .5rem;}
.column-gap-16{column-gap: 1rem;}

.fixed{position: fixed;}
.absolute{position: absolute;}
.relative{position: relative;}

.pe-none{pointer-events: none;}

.rounded{border-radius: .325rem}

.size-16{widht: 1rem;height: 1rem;}
.size-24{widht: 1.5rem;height: 1.5rem;}
.size-32{widht: 2rem;height: 2rem;}
.size-full{widht: 100%;height: 100%;}

.widht-16{widht: 1rem;}
.widht-24{widht: 1.5rem;}
.widht-32{widht: 2rem;}
.widht-full{widht: 100%;}

.height-16{height: 1rem;}
.height-24{height: 1.5rem;}
.height-32{height: 2rem;}
.height-full{height: 100%;}

.aspect-ratio-1x1 {aspect-ratio: 1 / 1;}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.back-to-top {
	bottom: 1rem;
	right: 1rem;
	svg-icon {
		pointer-events: none;
	}
}

.swiper {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	overflow: hidden;
	z-index: 1;
	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 70%;
		height: 320px;
		img {
			object-fit: cover;
		}
	}
}
.observer {
	opacity: 0;
	transform: translateY(20px);
	transition: all 0.6s ease;
}
.observer.visible {
	opacity: 1;
	transform: none;
}
h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: rgb(var(--primary));
}
p {
  	margin-bottom: 1rem;
  	font-size: 1.1rem;
}

/* HEADER */
header {
	height: 100dvh;
	top: 0;
	/**
	 * https://unsplash.com/es/@blakeconnally?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash
	*/
	background: linear-gradient(to top, rgba(var(--body-bg), .6), rgba(var(--body-bg), .9)), url('../images/blake-connally.webp') no-repeat center / cover;
	display: flex;
	justify-content: center;
	align-items: center;
	.box {
		h1 {
			strong {
				color: rgb(var(--primary));
			}
		}
		> span {
			font-weight: 600;
			font-size: 3rem;
			line-height: 2rem;
		}
		> div {
			font-size: 3rem;
			line-height: 3rem;
			margin: 1rem 0;
		}
	}
}

nav {
	backdrop-filter: blur(6px);
	transition: background .4s ease-in-out;
	&.bg-full {
		background: rgba(var(--body-bg), 1);
		backdrop-filter: blur(0);
		transition: background .4s ease-in-out;
	}
	left: 0;
	padding: 1rem 2rem;
	top: 0;
	width: 100%;
	z-index: 9;
	/* BRAND */
	.brand {
		.menu-toggle {
			background: url('../images/icons/menu/toggle-open.svg') no-repeat center / cover;
			@media (width < 560px) {
				& {
					display: block;
				}
			}
			&.open {
				background: url('../images/icons/menu/toggle-close.svg') no-repeat center / cover;
			}
		}
		.logo {
			font-weight: 600;
			font-size: 1.5rem;
			padding-right: 1rem;
			img {
				width: 2rem;
				background: rgba(var(--body-bg), .2);
			}
		}
		@media (width <= 992px) {
			.logo {
				span {
					display: none;
				}
			}
		}
	}
	/* MENU */
	.menu {
		flex-grow: 1;
		.menu-link {
			padding: 0 .5rem;
			line-height: 2rem;
			color: rgb(var(--body-color));
			&:hover, &.active {
				color: rgb(var(--primary-hover));
				background: rgba(var(--primary-hover), .1);
				span {
					font-weight: 600;
				}
			}
		}
		@media (width <= 768px) {
			.menu-link {
				span {
					display: none;
				}
			}
		}
	}
	/* LANG | MODO DARK-LIGHT */
	.menu-right {
		[data-change-mode] {
			display: block;
			width: 2rem;
			height: 2rem;
			background: url('../images/icons/moon.svg') no-repeat center / cover;
			[data-theme="dark"] & {
				filter: invert(100%);
				background: url('../images/icons/sun.svg') no-repeat center / cover;
			}
		}
	}
}

footer {
	padding: 2rem 0;
	flex-direction: column;
	.footer_socials {
		margin: .5rem 0;
		.social {
			padding-top: 0.325rem;
			&.linkedin {
				color: rgb(var(--linkedin));
				background: rgba(var(--linkedin), .1);
				&:hover {
					color: rgb(var(--white));
					background: rgba(var(--linkedin), 1);
				}
			}
			&.twitter {
				color: rgb(var(--twitter));
				background: rgba(var(--twitter), .1);
				&:hover {
					color: rgb(var(--white));
					background: rgba(var(--twitter), 1);
				}
			}
			&.discord {
				color: rgb(var(--discord));
				background: rgba(var(--discord), .1);
				&:hover {
					color: rgb(var(--white));
					background: rgba(var(--discord), 1);
				}
			}
			&.github {
				color: rgb(var(--github));
				background: rgba(var(--github), .1);
				&:hover {
					color: rgb(var(--white));
					background: rgba(var(--github), 1);
				}
			}
		}
	}
	p, small {
		margin: 0;
	}
}

.section {
	width: 90%;
	margin: 0 auto;
	padding: 2rem 0;
	.head_section {
		text-align: center;
		padding-bottom: 2rem;
	}
}

.contenedor {
	max-width: 1200px;
	margin: 0 auto;
}
/* Estilos generales */
#sobre-mi {
	min-height: 100dvh;
  	padding: 3rem 2rem;
	.contenedor-sobre-mi {
		flex-direction: row;
		gap: 2rem;
	}
	.foto-sobre-mi img {
		width: 280px;
		height: 280px;
		border-radius: 50%;
		object-fit: cover;
	}
	.info-sobre-mi {
		max-width: 800px;
	  	line-height: 1.6;
	}
	/* Responsividad */
	@media (width <= 1024px) {
	  	.contenedor-sobre-mi {
	    	flex-direction: column;
	  	}
	  	.foto-sobre-mi img {
	    	margin-bottom: 1rem;
	  	}
	}
}

.button {
	appearance: none;
	background-color: rgb(var(--primary));
	color: rgb(var(--white));
	border: none;
	padding: 0.8rem 1.5rem;
	font-size: 1rem;
	border-radius: .325rem;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: rgb(var(--primary-hover));
	}
}

.galeria_container {
	--height: 250px;
	columns: 3;
	.galeria_item {
		border: 1px solid rgba(var(--primary), .2);
		border-radius: .325rem;
		overflow: hidden;
		flex-direction: column;
		height: calc(var(--height) + 120px);
		margin-bottom: 1rem;
		picture {
			background: rgba(var(--primary), .2);
			height: var(--height);
			img {
				width: 100%;
				object-fit: cover;
			}
		}
	}
	.galeria_info {
		padding: 1rem;
		h3 {
			text-wrap: balance;
		}
		p {
			text-wrap: pretty;
			display: -webkit-box!important;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 2;
			white-space: normal;
			text-overflow: ellipsis;
			line-height: 1.875rem;
		}
	}
}

@media (width <= 1200px) {
	.galeria_container {
		columns: 2;
	}
}
@media (width <= 992px) {
	.galeria_container {
		--height: 350px;
		columns: 1;
	}
}


/* Grid */
.grid {
	--columns: 1fr;
	grid-template-columns: var(--columns);
  	gap: 1.5rem;
}

@media (width >= 768px) {
  	.grid {
    --columns: 1fr 1fr;
  	}
}
@media (width >= 1024px) {
  	.grid {
    	--columns: 1fr 1fr 1fr;
  	}
}

/* Card */
.card {
	background-color: white;
	padding: 1rem;
	box-shadow: 0 4px 6px rgba(var(--primary), 0.1);
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0 6px 12px rgba(var(--primary), 0.15);
	}
	svg-icon {
		margin: 0 auto;
		width: 4rem!important;
		height: 4rem!important;
		aspect-ratio: 1 /1;
	}
	.card-title {
	  	font-size: 1.25rem;
	  	font-weight: 600;
	  	margin-bottom: 0.5rem;
	}
	.card-description {
	  	font-size: 1rem;
	  	margin-bottom: 0.75rem;
	}
}
/* Badge */
.badge {
	display: inline-block;
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.375rem;
	background-color: rgba(var(--primary-hover), .1);
	color: rgb(var(--primary-hover));
	margin-right: 0.5rem;
}
/* Estilos del formulario de contacto */
#contact-form {
	display: grid;
	gap: 1.5rem;
	max-width: 600px;
	margin: 0 auto;
}
.form-group {
	display: flex;
	flex-direction: column;
	.form-label {
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
		color: #333;
	}
	.form-input {
		padding: 1rem;
		font-size: 1rem;
		border: 1px solid rgba(var(--primary), .6);
		background-color: rgb(var(--white));
		color: rgba(var(--primary),1);
		width: 100%;
		&:focus {
			outline: none;
			border-color: rgba(var(--primary), .9);
		}
	}
}